.card {
  @apply overflow-hidden rounded-lg border-2 border-solid border-gray-500 p-4;
  @apply flex flex-col items-center;

  @apply appearance-none no-underline text-left;
  @apply bg-white;

  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  @apply border-blue-500;
}

.card .img {
  @apply h-auto;

  width: 100px;
}

@screen sm {
  .card .img {
    width: 100px;
  }
}

@screen md {
  .card .img {
    width: 140px;
  }
}

@screen lg {
  .card .img {
    width: 200px;
  }
}

@screen xl {
  .card .img {
    width: 260px;
  }
}

.card .detail {
  @apply mt-3;
}

.card .detail .title {
  @apply text-lg font-bold text-left;
}

.card .detail .subtitle {
  @apply text-base text-left text-gray-700;
}

.card .detail .tags {
  @apply px-2 py-2;
}

.card .detail .tag {
  @apply inline-block bg-gray-200 rounded-full text-sm font-semibold text-gray-700;
  @apply px-2 py-1 m-1;
}